<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>

<div th:fragment="nav-bar">
    <div class="sidebar-container">
        <div class="logo">
            <img src="/images/SparkFund-logo.png" alt="Logo">
        </div>
        <form>
            <button class="button">Home</button>
        </form>
        <form>
            <button class="button">My profile</button>
        </form>
        <form>
            <button class="button">All Sparks</button>
        </form>
        <form>
            <button class="button">My Sparks</button>
        </form>
        <form>
            <button class="button">Send Signal</button>
        </form>
        <form>
            <button class="button">All Users</button>
        </form>
        <form>
            <button class="button">All User Signals</button>
        </form>
        <form th:action="@{/logout}" th:method="GET">
            <button class="button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div th:fragment="footer" class="footer"><p>© 2025 SparkFund Application. All rights reserved.</p></div>
</body>
</html>
