<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>

<div th:fragment="nav-bar">
    <div class="sidebar-container">
        <div class="logo">
            <img src="/images/SparkFund-logo.png" alt="Logo">
        </div>
        <form th:action="@{/home}" th:method="GET">
            <button class="button">Home</button>
        </form>
        <form th:action="@{'/users/' + ${user.id} + '/profile'}" th:method="GET">
            <button class="button">My profile</button>
        </form>
        <form th:action="@{'/spark/new'}" th:method="GET">
            <button class="button">Create Spark</button>
        </form>
        <form th:action="@{'/all-sparks'}" th:method="GET">
            <button class="button">All Sparks</button>
        </form>
        <form th:action="@{'/signal'}" th:method="GET">
            <button class="button">Send Signal</button>
        </form>
        <form th:action="@{'/user-signals'}" th:method="GET">
            <button class="button">My Signals</button>
        </form>
        <form th:if="${#strings.equals(user.userRole, 'ADMIN')}" th:action="@{'/all-signals'}" th:method="GET">
            <button class="button">All User Signals</button>
        </form>
        <form th:if="${#strings.equals(user.userRole, 'ADMIN')}" th:action="@{'/users'}" th:method="GET">
            <button class="button">All Users</button>
        </form>
        <form th:action="@{/logout}" th:method="GET">
            <button class="button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div th:fragment="footer" class="footer"><p>© 2025 SparkFund Application. All rights reserved.</p></div>
</body>
</html>
