<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Spark</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<main>
    <div th:replace="fragments/commons :: nav-bar"></div>

    <div class="content-wrapper">
        <div class="main-container">
            <div class="main-form">
                <h2>Ignite Your Spark</h2>
                <div class="form-field">
                    <label for="spark-title">Title:</label>
                    <input type="text" id="spark-title" value="Spark Title">
                </div>
                <div class="form-field">
                    <label for="spark-description">Description:</label>
                    <textarea id="spark-description" rows="5"></textarea>
                </div>
                <div class="form-field">
                    <label for="amount">Goal Amount:</label>
                    <input type="number" id="amount" step="0.1" min="1">
                </div>

                <div class="form-field">
                    <label for="category">Category:</label>
                    <select id="category" name="category">
                        <option>Education</option>
                        <option>Health</option>
                        <option>Environment</option>
                        <option>Community</option>
                        <option>Emergency</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="status">Status:</label>
                    <select id="status" name="status">
                        <option>ACTIVE</option>
                        <option>COMPLETED</option>
                        <option>CANCELLED</option>
                    </select>
                </div>

                <div class="form-field">
                    <label for="picture1">Picture 1:</label>
                    <input type="text" id="picture1" value="Add picture 1">
                </div>
                <div class="form-field">
                    <label for="picture2">Picture 2:</label>
                    <input type="text" id="picture2" value="Add picture 2">
                </div>
                <div class="form-field">
                    <label for="picture3">Picture 3:</label>
                    <input type="text" id="picture3" value="Add picture 3">
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/commons :: footer"></div>
</main>

</body>
</html>