<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SparkFund</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="container">
    <div class="logo">
        <img src="/images/SparkFund-logo.png" alt="Logo">
    </div>
    <a th:href="@{/login}" class="button">Login</a>
    <a th:href="@{/register}" class="button">Register</a>
</div>
<div th:replace="fragments/commons :: footer"></div>
</body>
</html>
