body {
    background: linear-gradient(to bottom right, #FFB84D, #FFF5E1);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: min-content;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #FFB84D;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 184, 77, 0.4);
}

.button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #FFB84D;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button:hover {
    background-color: #ff9a2e;
}

.button:active {
    background-color: #e88c28;
}

.form-already {
    color: #000000;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    margin: 20px auto auto;
}

.form-already a {
    text-decoration: none;
    transition: 0.5s ease-out;
    background: #fc9d10;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-already a:hover {
    background-position: right;
    transition: 0.5s ease-out;
}

.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px 0 0;
}